[Desktop Entry]
Name=The Ur-Quan Masters MegaMod
Exec=launch.sh
Type=Application
Icon=net.serosis.megamod
Categories=Game;
Name[en_US]=net.serosis.megamod.desktop
